@page "/requests/details"
@using Microsoft.EntityFrameworkCore
@using PetAdoptionManagement.Components.Domain
@inject IDbContextFactory<PetAdoptionManagement.Data.PetAdoptionManagementContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Details</PageTitle>

<h1>Details</h1>

<div>
    <h2>Request</h2>
    <hr />
    @if (request is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">DateCreated</dt>
            <dd class="col-sm-10">@request.DateCreated</dd>
            <dt class="col-sm-2">ReviewStatus</dt>
            <dd class="col-sm-10">@request.ReviewStatus</dd>
            <dt class="col-sm-2">PetID</dt>
            <dd class="col-sm-10">@request.PetID</dd>
            <dt class="col-sm-2">UserID</dt>
            <dd class="col-sm-10">@request.UserID</dd>
        </dl>
        <div>
            <a href="@($"/requests/edit?id={request.Id}")">Edit</a> |
            <a href="@($"/requests")">Back to List</a>
        </div>
    }
</div>

@code {
    private Request? request;

    [SupplyParameterFromQuery]
    private int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        request = await context.Request.FirstOrDefaultAsync(m => m.Id == Id);

        if (request is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
}
